/* Background Styles */
.main{ background-image:url("../../img/index/backindex.png"); }
.hero{ background-image:url("../../img/index/Hbackindex.png"); height:100vh; }
.content1{ background-image:url("../../img/index/c1index1.png"); }
.content2{ background-image:url("../../img/index/c2index1.png"); }
.content3{ background-image: url("../../img/index/c2bindex.png"); }

/* Hero Styles */
.hero-h1{ font-size: 6em; }
.hero-a{ font-size: 1.4em; transition-delay: 6s; padding: 20px 45px; }
.hero-a:hover{ animation-name: color; animation-duration: 2s; background-color: #2980b9; }
@keyframes color {
      0% {background-color: transparent;}
      20% {background-color: #BA68C8;}
      40% {background-color: #EC407A;}
      60% {background-color: #FF9800;}
      80% {background-color: #009688;}
      100% {background-color: #2980b9;}
}

/* Content Styles */
.content1, .content2, .content3, .content4{ padding: 100px 50px; }
.C1h1, .C2h1{ padding-left: 10px; padding-right: 10px; }
.C1h1{ border-left: 5px solid white; }
.C2h1{ border-right: 5px solid white; }
.C3Sign{ width: 300px; }
.C4S{ font-size: 1.3em; }
.C4P{ font-size: 1.7em; font-weight: bold; }
.C4P1{ font-size: 3em; font-weight: bold; }
.C4Timer{ padding: 100px 0px; }
.content5 { padding:150px 0px; background-color: rgba(41, 128, 185, 0.82); }

/* Put Other Pics Here */
@media screen and (max-width: 750px) { .main, .content1, .content2, .content3{ background: transparent; } }
