/* General Styles */
.cMain{ color: white; }
.ch1{ font-family: 'Playfair Display', serif; font-size: 8em; padding-bottom: 100px; }
.ch2{ font-family: 'Playfair Display', serif; font-size: 6em; padding-bottom: 100px; }
.cA, .cA:hover{ color: white; font-size: 20px; text-decoration: underline; }
.cHero{ height: 100vh; background: linear-gradient(transparent, rgba(41, 128, 185, 0.9)); }
.cTopic1, .cTopic2, .cStaff{ padding: 50px 10px; background-color: rgba(41, 128, 185, 0.9); }
.cTblurb{ padding-top: 100px; }

/* Modal Styles */
.C3Sspan{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
}
.C3Sspan>h2{ font-family: 'Playfair Display', serif; color:transparent; transition: all 1s; }
.C3Sspan>p{ font-family: 'Playfair Display', serif; color:transparent; transition: all 1s; }
.C3Ssdiv{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: transparent;
      color: transparent;
      transition: all 1s;
      margin: 0px 15px;
}
.C3Ssdiv1{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background:transparent;
      color: transparent;
      transition: all 1s;
      margin: 0px 15px;
}
.C3Sa:hover .C3Ssdiv{
      background:rgba(69, 90, 99, 0.7);
      border: 7px solid white;
}
.C3Sa:hover .C3Ssdiv>.C3Sspan>h2{ color: white; }
.C3Sa:hover .C3Ssdiv>.C3Sspan>p{ color: white; }
.C3Sa:hover .C3Ssdiv1>.C3Sspan>h2{ color: white; }
.C3Sa:hover .C3Ssdiv1>.C3Sspan>p{ color: white; }
.C3Sa:hover .C3Ssdiv1{
      background:rgba(255, 215, 0, 0.4);
      border: 7px solid #FFD700;
}
.C3Ssp{ font-style: italic; }

/* Background Images */
.disecback{ background-image:url("../../img/com/disec.jpg"); }
.ecofinback{ background-image:url("../../img/com/ecofin.jpg"); }
.legalback{ background-image:url("../../img/com/legal.jpg"); }
.alback{ background-image:url("../../img/com/arableague1.jpg"); }
.iocback{ background-image:url("../../img/com/ioc1.jpg"); }
.natoback{ background-image:url("../../img/com/nato.jpg"); }
.ibcback{ background-image:url("../../img/com/ibc.jpg"); }
.unwomenback{ background-image:url("../../img/com/unwomen.jpg"); }
.unpfiiback{ background-image:url("../../img/com/unpfii.jpg"); }
.husback{ background-image:url("../../img/com/huncabinet.jpg"); }
.hunscback{ background-image:url("../../img/com/hunsc.jpg"); }
.hjccback{ background-image:url("../../img/com/hjcc.JPG"); }
.wfdback{ background-image:url("../../img/com/wfd.jpg"); }
.spaceback{ background-image:url("../../img/com/space1.jpg"); }
.ipcback{ background-image:url("../../img/com/ipc.jpg"); }

@media screen and (max-width: 750px) {
      .ch1{ font-family: 'Playfair Display', serif; font-size: 3em; padding-bottom: 100px; }
      .ch2{ font-family: 'Playfair Display', serif; font-size: 3em; padding-bottom: 100px; }
      .ABM{ position: static; transform:none;}
      .cHeron{height: auto;}
}
